nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}



footer.page-footer {
  margin: 0;
}

.mongo-background {
  background: url("../img/mongoDB.png") no-repeat center;
  background-size: cover;
  height: 85%;

}

.curso-background {
  background: url("../img/curso.png") no-repeat center;
  background-size: cover;
  height: 85%;

}

.main-background {
  background: url("../img/background@3x.png") no-repeat center;
  background-size: cover;
  height: 90%;

}
.tec-background {
  background: url("../img/tec.png") no-repeat center;
  background-size: contain;
  height: 20%;

}

.Rectangle-4 {

  height: 209.5px;
  background-color: #f7f9fa;

}
.Rectangle-5 {

  height: 1024px;
  background-color: #f7f9fa;

}

.plan-container{
  width: 100%;
  /*height: 230px;*/
  background-color: #f6f6f6;
  border: solid 0.5px #979797;

}

.main-btn {
  width: 242px;
  height: 45px;
  border-radius: 3px;
  background-image: linear-gradient(260deg, #f5515f, #9f041b);
}


.Bitmap {
  width: 623px;
  height: 501px;
}

.about-me-text{
/*  width: 475px;
  height: 100px;*/
  opacity: 0.5;
  font-family: Inconsolata;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  text-align: center;
  color: #434446;
  color: var(--charcoal-grey);
}

.about-me-title {
/*  width: 209.5px;
  height: 30px;
*/  
  font-family: Rajdhani;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.8px;
  text-align: center;
  color: #434446;
  color: var(--charcoal-grey);
}


.social-network-btn{

  font-family: Rajdhani;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.8px;
  text-align: center;
  color: #434446;
  color: var(--charcoal-grey);
}